[project]
	description = Linux kernel source tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matan Barak (matanb10)
[access "refs/for/refs/*"]
	read = group user/Matan Barak (matanb10)
	push = group user/Matan Barak (matanb10)
	label-Code-Review = -2..+2 group user/Matan Barak (matanb10)
	label-Verified = -1..+1 group user/Matan Barak (matanb10)
	rebase = group user/Matan Barak (matanb10)
	removeReviewer = group user/Matan Barak (matanb10)
	submit = group user/Matan Barak (matanb10)
[access "refs/heads/*"]
	read = group user/Matan Barak (matanb10)
	create = group user/Matan Barak (matanb10)
	push = +force group user/Matan Barak (matanb10)
	pushMerge = group user/Matan Barak (matanb10)
[access "refs/tags/*"]
	push = group user/Matan Barak (matanb10)
	push = +force group user/Matan Barak (matanb10)
